<app-header></app-header>

<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-4 px-2 sm:px-6 lg:px-6">
    <h1 class="text-3xl font-bold text-gray-900">Welcome to DigiViz app. </h1>
    <div class="flex items-center text-gray-900" style="color: gray">
      <div class="ml-1.5 leading-6 truncate text-gray">Here, you will find the volume of searches on Google.</div>
    </div>
  </div>
</header>

<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">

      <div class="border-4 border-dashed border-gray-200 rounded-lg px-4 py-6">
        <div class="grid grid-cols-6 gap-6 px-2">
          <div class="col-span-6 sm:col-span-3">
            <label for="category" class="block text-sm font-medium text-gray-700">Filter by category</label>
            <select (change)="onChangeCategory($event)" id="category"  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>

            </select>
          </div>
        </div>
        <app-chart [options]="options"></app-chart>
      </div>
    </div>
  </div>
</main>


