<app-header></app-header>

<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-4 px-2 sm:px-6 lg:px-6">
    <h1 class="text-3xl font-bold text-gray-900">Welcome to DigiViz app. </h1>
    <div class="flex items-center text-gray-900" style="color: gray">
      <div class="ml-1.5 leading-6 truncate text-gray">Here, you will find the volume of searches on Google.</div>
    </div>
  </div>
</header>

<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">

      <div class="border-4 border-dashed border-gray-200 rounded-lg px-4 py-6">
        <div class="grid grid-cols-12 gap-6 px-2">
          <div class="col-span-12 sm:col-span-4">
            <label for="category" class="block text-sm font-medium text-gray-700">Select category</label>
            <select [formControl]="categoryCtrl"  id="category"  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>

            </select>
          </div>

          <div class="col-span-12 sm:col-span-4">
            <label for="year" class="block text-sm font-medium text-gray-700">Select Year</label>
            <select [formControl]="yearCtrl"  id="year"  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option value="">All years</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>

            </select>
          </div>

          <div class="col-span-12 sm:col-span-4">
            <button class="py-2 px-4  my-5 rounded-md text-white bg-indigo-600 hover:bg-indigo-700" (click)="readByCategory()">Filter</button>
          </div>
        </div>


        <div class="grid grid-cols-12 gap-6 px-2">
          <div class="col-span-12 sm:col-span-6" *ngIf="averageSearches">
            <h1 class="text-3xl   text-gray-900 font-bold">
              <span class="block xl:inline">Average volume :</span>
              <span class="block text-indigo-600 xl:inline"> {{averageSearches | number : '1.0'}}</span>
            </h1>

          </div>

          <div class="col-span-12 sm:col-span-6" *ngIf="variationWithPreviousYear">
            <h1 class="text-3xl   text-gray-900 font-bold">
              <span class="block xl:inline">Variation with previous year :</span>
              <span class="block text-indigo-600 xl:inline"> {{variationWithPreviousYear }} %</span>
            </h1>
          </div>

        </div>



        <app-chart [options]="options"></app-chart>
      </div>
    </div>
  </div>
</main>


